@import "tailwindcss";

@theme {
  --text-caption: 10px;
  --text-captionMedium: 12px;
  --text-captionLarge: 15px;
  --color-error: #eb152e;
  --color-main-plum-9: #6C4AB6
}

[data-radix-ui-button] {
  cursor: pointer;
}